.header_background {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
}

.header {
  width: 100%;
  margin: 0 auto;
}

.social {
  display: flex;
  padding: 20px 35px;

  &__tag {
    font-family: Amatic SC, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 63px;
    flex: 1;
  }
}

.offer {
  display: grid;
  padding-bottom: 15px;
  grid-template: 1fr /1fr 2fr;

  &__left {

    &__logo {
      padding: 10px 0 ;
    }
  }

  &__right {
    margin: 25px;

    &__text {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      background: #FFE400;
      color: #000000;
    }

    &__prise {
      margin-top: 10px;
      font-family: Roboto;
      font-size: 20px;
      line-height: 23px;
    }

    &__btn {
      display: flex;
      float: right;
    }
  }
}

@media all and (max-width: 980px) {
  .layout{
    width: 85vw;
  }
  .menu {
    align-content: center;
    grid-template:auto auto auto auto auto auto / auto auto;
    margin: 0 auto;
    padding: 10px;
    text-decoration: none;
  }
  .offer {
    grid-template:auto / auto ;

    &__left {
      &__logo {
        display: none;
      }
    }
    &__right{

    }
  }
}